.accordion {
    margin: 50px;

    .title, .card {
        padding: 20px 10px;
        border: 1px solid black;
        border-bottom: 0;
        background: #3e3e3e;
        color: white;
        border-radius: 5px;

        &:last-of-type {
            border-bottom: 1px solid black;
        }

        a {
            display: block;
            color: white;
            font-weight: bold;
        }
    }

    .card {
        border-top: 0;
        font-size: 16px;
        margin: 0;
        background: white;
        color: black;
        border-radius: 0px;

        &:last-of-type {
            border-top: 1px solid white;
            position: relative;
            top: -1px;
        }
    }

    a {
        text-decoration: none;
    }

    body {
        font-size: 16px;
        font-family: sans-serif;
    }
}
